body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #191047;
    background-image: url('caminho/para/sua/imagem.jpg'); /* Substitua pelo caminho correto */
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 48px;
}

#clock {
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#time {
    font-weight: bold;
}

#date {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Ajuste o tamanho da fonte conforme necessário */
    margin-top: 24px; /* Ajuste a margem conforme necessário */
    color: white; /* Ajuste a cor conforme necessário */
}