body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('IMG_20250211_181913.jpg'); /* Adiciona uma sobreposição escura */
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 48px;
}

#clock {
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1); /* Ajuste a opacidade conforme necessário */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#time {
    font-weight: bold;
}

#date {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Ajuste o tamanho da fonte conforme necessário */
    margin-top: 24px; /* Ajuste a margem conforme necessário */
    color: white; /* Ajuste a cor conforme necessário */
}

#calendarButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #100c25;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#calendarButton:hover {
    background-color: #ddd;
}